{% from "macros.jinja" import row_noipsw, row_release -%}

{% macro make_table_noipsw(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Documentation
{% for info in get_firmwares(models, "audioOS/19x - 15.x", False) %}
|-
{{ row_noipsw(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

{% macro make_table_ipsw(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "audioOS/19x - 15.x", False) %}
|-
{{ row_release(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[HomePod]] ==
{{ make_table_noipsw(['AudioAccessory1,1','AudioAccessory1,2']) }}

== [[HomePod mini]] ==
{{ make_table_ipsw(['AudioAccessory5,1']) }}

[[Category:Firmware]]
