{% from "macros.jinja" import row_beta_bb -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(models, "iPadOS/20x - 16.x", True) %}
|-
{{ row_beta_bb(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[iPad (5th generation)]] ==
{{ make_table(['iPad6,11', 'iPad6,12']) }}

== [[iPad (6th generation)]] ==
{{ make_table(['iPad7,5', 'iPad7,6']) }}

== [[iPad (7th generation)]] ==
{{ make_table(['iPad7,11', 'iPad7,12']) }}

== [[iPad (8th generation)]] ==
{{ make_table(['iPad11,6', 'iPad11,7']) }}

== [[iPad (9th generation)]] ==
{{ make_table(['iPad12,1', 'iPad12,2']) }}

== [[iPad (10th generation)]] ==
{{ make_table(['iPad13,18', 'iPad13,19']) }}

[[Category:Firmware]]
