{% from "macros.jinja" import row_release -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "iOS/19x - 15.x") %}
|-
{{ row_release(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[iPod touch (7th generation)]] ==
{{ make_table(['iPod9,1']) }}

[[Category:Firmware]]
