{% from "macros.jinja" import row_beta, row_ia -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(models, "macOS/23x - 14.x", True) %}
|-
{{ row_beta(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== Intel Macs ==
{| class="wikitable"
|-
! Version
! Build
! Release Date
! Download URL
! SHA1 Hash
! File Size
{% for info in get_firmwares(["MacPro7,1"], "macOS/23x - 14.x", True, "installassistant") %}
|-
{{ row_ia(info) | trim }}
{% endfor %}
|}

== [[MacBook Air (M1, 2020)]] ==
{{ make_table(['MacBookAir10,1']) }}

== [[MacBook Pro (13-inch, M1, 2020)]] ==
{{ make_table(['MacBookPro17,1']) }}

== [[Mac mini (M1, 2020)]] ==
{{ make_table(['Macmini9,1']) }}

== [[iMac (24-inch, M1, 2021)]] ==
{{ make_table(['iMac21,1', 'iMac21,2']) }}

== [[MacBook Pro (14-inch, 2021)]] ==
{{ make_table(['MacBookPro18,3', 'MacBookPro18,4']) }}

== [[MacBook Pro (16-inch, 2021)]] ==
{{ make_table(['MacBookPro18,1', 'MacBookPro18,2']) }}

== [[Mac Studio]] ==
{{ make_table(['Mac13,1', 'Mac13,2']) }}

== [[MacBook Air (M2, 2022)]] ==
{{ make_table(['Mac14,2']) }}

== [[MacBook Pro (13-inch, M2, 2022)]] ==
{{ make_table(['Mac14,7']) }}

== [[Mac mini (2023)]] ==
{{ make_table(['Mac14,3', 'Mac14,12']) }}

== [[MacBook Pro (14-inch, 2023)]] ==
{{ make_table(['Mac14,5', 'Mac14,9']) }}

== [[MacBook Pro (16-inch, 2023)]] ==
{{ make_table(['Mac14,6', 'Mac14,10']) }}

== [[MacBook Air (15-inch, M2, 2023)]] ==
{{ make_table(['Mac14,15']) }}

== [[Mac Studio (2023)]] ==
{{ make_table(['Mac14,13', 'Mac14,14']) }}

== [[Mac Pro (2023)]] ==
{{ make_table(['Mac14,8']) }}

== [[iMac (24-inch, 2023)]] ==
{{ make_table(['Mac15,4', 'Mac15,5']) }}

== MacBook Pro (M3) ==
{{ make_table(['Mac15,3']) }}

== MacBook Pro (M3 Pro/Max) ==
{{ make_table(['Mac15,6', 'Mac15,7', 'Mac15,8', 'Mac15,9', 'Mac15,10', 'Mac15,11']) }}

== MacBook Air (M3) ==
{{ make_table(['Mac15,12', 'Mac15,13']) }}

[[Category:Firmware]]
