{% from "macros.jinja" import row_release, row_ia -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "macOS/20x - 11.x") %}
|-
{% if info.build in ('20A2411') %}
| {{info.version}}
| {{info.build}}
| {{ '{{n/a}}' }}
| Preinstalled
| colspan="4" {{ '{{n/a}}' }}
{% else %}
{{ row_release(info, models) | trim }}
{% endif %}
{% endfor %}
|}
{%- endmacro -%}

== Intel Macs ==
{| class="wikitable"
|-
! Version
! Build
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(["Macmini9,1"], "macOS/20x - 11.x", False, "installassistant") %}
|-
{{ row_ia(info, include_docs=True) | trim }}
{% endfor %}
|}

== [[Developer Transition Kit (2020)]] ==
{{ make_table(['ADP3,2']) }}

== [[MacBook Air (M1, 2020)]] ==
{{ make_table(['MacBookAir10,1']) }}

== [[MacBook Pro (13-inch, M1, 2020)]] ==
{{ make_table(['MacBookPro17,1']) }}

== [[Mac mini (M1, 2020)]] ==
{{ make_table(['Macmini9,1']) }}

== [[iMac (24-inch, M1, 2021)]] ==
{{ make_table(['iMac21,1', 'iMac21,2']) }}

== Notes ==
<references>
<ref name="ipsw116">The IPSW file for macOS 11.6 was published on {{ '{{date|2021|09|17}}' }}.</ref>
</references>

[[Category:Firmware]]
