{% from "macros.jinja" import row_beta, row_ia -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(models, "macOS/20x - 11.x", True) %}
|-
{{ row_beta(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== Intel Macs ==
{| class="wikitable"
|-
! Version
! Build
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(["Macmini8,1"], "macOS/20x - 11.x", True, "installassistant") %}
|-
{{ row_ia(info, include_sha1=True) | trim }}
{% endfor %}
|}

== [[Developer Transition Kit (2020)]] ==
{{ make_table(['ADP3,2']) }}

== [[MacBook Air (M1, 2020)]] ==
{{ make_table(['MacBookAir10,1']) }}

== [[MacBook Pro (13-inch, M1, 2020)]] ==
{{ make_table(['MacBookPro17,1']) }}

== [[Mac mini (M1, 2020)]] ==
{{ make_table(['Macmini9,1']) }}

== [[iMac (24-inch, M1, 2021)]] ==
{{ make_table(['iMac21,1', 'iMac21,2']) }}

[[Category:Firmware]]
