{% macro row_release(info, models, has_baseband=False) %}
{% filter replace('\n\n', '\n') | replace('\n\n', '\n') %}
{{info.version.format_cell()}}
| {{info.build}}
{% if info._preinstalled and not info.ipsw_url %}
| {{'{{n/a}}'}}
{% if has_baseband %}
{{ caller() }}
{% endif %}
| Preinstalled
| colspan="4" {{'{{n/a}}'}}
{% else %}
| {% for model in info.models -%}
    [[Keys:{{info.train}} {{info.build}} ({{model}})|{{model}}]]{% if not loop.last %}<br/>{% endif %}
{% endfor %}

{% if has_baseband %}
{{ caller() }}
{% endif %}
| {{ info.released|wiki_date }}{{ info.get('date_note','') }}
{% if info.ipsw_url %}
| [{{info.ipsw_url}} {{info.ipsw_fn}}]
{% if info.sources and info.applicable_source.hashes.sha1 %}
| <code>{{info.applicable_source.hashes.sha1}}</code>
{% else %}
| <code>?</code>
{% endif %}
{% if info.sources and info.applicable_source.size is defined %}
| {{ '{:,d}'.format(info.applicable_source.size) }}
{% else %}
| ?
{% endif %}{# have size #}
{% else %}
| colspan="3" {{'{{n/a}}'}}
{% endif %}
{# HACK: don't display release/security notes for these particular MacOS builds #}
{% if info.build in ('21F2081', '21F2092') %}
| {{ '{{n/a}}' }}
{% elif info.doclinks %}
{# hardcoded documentation links #}
| {{ info.doclinks }}
{% else %}
{% set link_br = joiner('<br/>') %}
| {% if info.device_ipd -%}
    {{ link_br() }}[{{info.device_ipd}} {{info.ipd_filename}}]
{%- endif %}
{% if info.releaseNotes -%}
    {{ link_br() }}[{{info.releaseNotes}} Release Notes]
{%- endif %}
{% if info.securityNotes -%}
    {{ link_br() }}[{{info.securityNotes }} Security Notes]
{%- endif %}
{% endif %}
{% endif %}{# preinstalled #}
{% endfilter %}
{%- endmacro -%}

{% macro row_release_bb(info, models) %}
{% call row_release(info, models, has_baseband=True) -%}
{{ info.baseband.format_cell() -}}
{% endcall %}
{%- endmacro -%}

{% macro row_release_A10(info, models) %}
{% call row_release(info, models, has_baseband=True) -%}
{{ info.basebands["Mav16"].format_cell() }}
{{ info.basebands["ICE16"].format_cell() }}
{% endcall %}
{%- endmacro -%}

{% macro row_release_A11(info, models) %}
{% call row_release(info, models, has_baseband=True) -%}
{{ info.basebands["Mav17"].format_cell() }}
{{ info.basebands["ICE17"].format_cell() }}
{% endcall %}
{%- endmacro -%}

{% macro row_beta(info, models) %}
{{ row_beta_impl(info, models, has_baseband=False) }}
{%- endmacro -%}

{% macro row_beta_impl(info, models, has_baseband=True) %}
{% filter replace('\n\n', '\n') | replace('\n\n', '\n') %}
{{info.version.format_cell() | replace("RC","[[Release Candidate|RC]]") }}
| {{info.build}}
| {% for model in models -%}
    [[Keys:{{info.train}} {{info.build}} ({{model}})|{{model}}]]{% if not loop.last %}<br/>{% endif %}
{% endfor %}

{% if has_baseband %}
{{ caller() }}
{% endif %}
| {{ info.released|wiki_date }}
{% if info.ipsw_url %}
| [{{info.ipsw_url}} {{info.ipsw_fn}}]
{% if info.sources and info.applicable_source.size is defined %}
| {{ '{:,d}'.format(info.applicable_source.size) }}
{% else %}
| ?
{% endif %}{# have size #}
{% else %}
| colspan="2" {{'{{n/a}}'}}
{% endif %}{# have ipsw URL #}
{% endfilter %}
{%- endmacro -%}

{% macro row_beta_bb(info, models) %}
{% call row_beta_impl(info, models, has_baseband=True) -%}
{{ info.baseband.format_cell() -}}
{% endcall %}
{%- endmacro -%}

{% macro row_beta_A10(info, models) %}
{% call row_beta_impl(info, models, has_baseband=True) -%}
{{ info.basebands["Mav16"].format_cell() }}
{{ info.basebands["ICE16"].format_cell() }}
{% endcall %}
{%- endmacro -%}

{% macro row_beta_A11(info, models) %}
{% call row_beta_impl(info, models, has_baseband=True) -%}
{{ info.basebands["Mav17"].format_cell() }}
{{ info.basebands["ICE17"].format_cell() }}
{% endcall %}
{%- endmacro -%}

{% macro row_noipsw(info, models) %}
{{info.version.format_cell() | replace("RC","[[Release Candidate|RC]]") }}
| {{info.build}}
{% if info._preinstalled %}
| {{'{{n/a}}'}}
| Preinstalled
| {{'{{n/a}}'}}
{% else %}
| {% for model in info.models -%}
    [[Keys:{{info.train}} {{info.build}} ({{model}})|{{model}}]]{% if not loop.last %}<br/>{% endif %}
{% endfor %}

| {{ info.released|wiki_date }}
{% if not (info.beta or info.rc) %}
{% set link_br = joiner('<br/>') %}
| {% if info.releaseNotes -%}
    {{ link_br() }}[{{info.releaseNotes}} Release Notes]
{%- endif %}
{% if info.securityNotes -%}
    {{ link_br() }}[{{info.securityNotes }} Security Notes]
{%- endif %}
{% endif %}
{% endif %}{# preinstalled #}
{%- endmacro -%}

{% macro row_watch(info, models, has_baseband) %}
{% filter replace('\n\n', '\n') | replace('\n\n', '\n') %}
{{info.version.format_cell() | replace("RC","[[Release Candidate|RC]]") }}
| {{info.build}}
{% if info._preinstalled %}
| {{'{{n/a}}'}}
{% if has_baseband %}
{{ info.baseband.format_cell() }}
{% endif %}
| Preinstalled
| colspan="4" {{'{{n/a}}'}}
{% else %}
| {% for model in models -%}
    [[Keys:{{info.train}} {{info.build}} ({{model}})|{{model}}]]{% if not loop.last %}<br/>{% endif %}
{% endfor %}

{% if has_baseband %}
{{ info.baseband.format_cell() }}
{% endif %}
| {{ info.released|wiki_date }}
{% if not (info.beta or info.rc) %}
{% if info.ipsw_url %}
| [{{info.ipsw_url}} {{info.ipsw_fn}}]
{% else %}
| ?
{% endif %}
{% if info.sources and info.applicable_source.hashes and info.applicable_source.hashes.sha1 %}
| <code>{{info.applicable_source.hashes.sha1}}</code>
{% else %}
| <code>?</code>
{% endif %}{# not hashes #}
{% if info.sources and info.applicable_source.size is defined %}
| {{ '{:,d}'.format(info.applicable_source.size) }}
{% else %}
| ?
{% endif %}{# not source size #}
{% set link_br = joiner('<br/>') %}
| Nowrap | {% if info.releaseNotes -%}
    {{ link_br() }}[{{info.releaseNotes}} Release Notes]
{%- endif %}
{% if info.securityNotes -%}
    {{ link_br() }}[{{info.securityNotes }} Security Notes]
{%- endif %}
{% endif %}
{% endif %}{# preinstalled #}
{% endfilter %}
{%- endmacro -%}

{% macro row_ia(info, include_docs=False, include_sha1=True) %}
{{info.version.format_cell() | replace("RC","[[Release Candidate|RC]]") }}
| {{info.build}}
| {{ info.released|wiki_date }}{{ info.get('date_note','') }}
{% if info.ipsw_url %}
| [{{info.ipsw_url}} {% if info.ipsw_active %}{{info.ipsw_fn}}{% else %}<s>{{info.ipsw_fn}}</s>{% endif %}]
{% else %}
| ?
{% endif %}{# have URL #}
{% if include_sha1 %}
{% if info.sources and info.applicable_source.hashes and info.applicable_source.hashes.sha1 %}
| <code>{{info.applicable_source.hashes.sha1}}</code>
{% else %}
| <code>?</code>
{% endif %}{# have hashes #}
{% endif %}{# want hashes #}
{% if info.sources and info.applicable_source.size is defined %}
| {{ '{:,d}'.format(info.applicable_source.size) }}
{% else %}
| ?
{% endif %}{# have size #}
{% if include_docs %}
{% set link_br = joiner('<br/>') %}
| {% if info.releaseNotes -%}
    {{ link_br() }}[{{info.releaseNotes}} Release Notes]
{%- endif %}
{% if info.securityNotes -%}
    {{ link_br() }}[{{info.securityNotes }} Security Notes]
{%- endif %}
{% endif %}{# is release - want docs #}
{%- endmacro -%}
